*{
  max-width: 100%;
}
html,body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
/* The landing page*/
#navbar{
  height:100%;
  width:100%;
  background-image: url("../img/backgrounds/landing.jpg");
  background-origin:100px 200px
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color:white;
}

#navbar nav #sidebar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.nav-menu{
  position: relative;
  list-style: none;
  top: 25%;
  width: 100%;
  margin-top: 30px;
}
.sidebar .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
#navbar .jumbotron{
  background-color: rgba(0,0,0,0);
}
/*The courses section with menu icons*/
#courses{
  width:100%;
  padding: 0;
  margin: 0;
  display: table;
}
#courses div.col-md-6{
  padding: 0;
  height:200px;
  font-size: 120%;
}
#bar{
  height:100%;
  padding: 0;
}
#breakfast{
  height:100%;
  background-image: url("../img/foodtop/breakfast.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color:white;
}

#lunch{
  height:100%;
  background-image: url("../img/foodtop/lunch.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color:white;
}
#dinner{
  height:100%;
  background-image: url("../img/foodtop/dinner.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color:white;
}
.bar-text{
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#party-time{
  background-color: rgb(241,91,41);
  color:white;
}
#food-description{
  margin:0;
  padding:10px 0px 10px 0px;
  width: 100%;
  height:auto;
}
.fastfood-description-section{
  margin:0;
  padding: 80px 80px 40px 80px;
  width:100%;
  height:50%;
  overflow: auto;
}

.drinks-description-section{
  margin:0;
  padding: 40px 80px 80px 80px;
  width:100%;
  height:50%;
  overflow: auto;
}

.fastfood-image-section{
  /*padding:top right bottom left*/
  border: 20px solid rgba(110,110,110,0.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 0;
  padding: 0;
}
.fastfood-image-section img{
  width:100%;
}
.fastfood-text-section{
  padding: 0px 80px 0px 40px;
}
.drinks-image-section, .drinks-text-section{
  padding: 0;
  margin: 0;
}
.drinks-image-section{
  border: 20px solid rgba(110,110,110,0.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height:auto;
  /*padding: 0px 40px 0px 80px; */
}

.drinks-image-section .col-xs-6{
  padding: 0;
  margin: 0;
}
.drinks-image-section img{
  width:100%;
}
.view-gallery-text{
  padding-top:5px;
  padding-bottom: 0;
  /*padding: 5px;*/
  border:1px solid rgb(241,91,41);
  border-radius: 2px;
}
#food-pills{
  background-image: url("../img/backgrounds/foodsBg.jpg");
  height:599px;
  background-size: cover;
}
#customers{
  height:400px;
}
#subscribe{
  height:301px;
  background-image: url("../img/backgrounds/subscribe.jpg");
  background-size: cover;
}
footer{
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: rgb(241,91,41);
  text-align: center;
}
footer .social-buttons{
  background-color: green;
  color: green;
}
@media only screen and (max-width: 768px) {
  /*media queries*/
  #navbar{
    height:100%;
  }
  #navbar img{
    max-width:200px;
  }
  #courses{
    height:20%;
  }
  #courses div.col-md-6{
    padding: 0;
    height:80px;
  }
  .fastfood-image-section{
    /*padding:top right bottom left*/
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
  .drinks-description-section{
      padding:0;
  }
  .fastfood-text-section{
      padding:10px 10px 10px 10px;
  }
  .drinks-text-section{
      padding:10px 10px 10px 10px;
  }
  .food-description-section{
      padding:0;
  }
}
/*padding:top right bottom left*/
