*{
  max-width: 100%;
}
html,body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
/* The landing page*/
#navbar{
  height:100%;
  width:100%;
  background-image: url("../img/backgrounds/landing.jpg");
  background-origin:100px 200px
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color:white;
}
#navbar nav{
  text-align: left;
}
#navbar nav #sidebar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F15A29;
  overflow: hidden;
  transition: 0.5s;
  color:green;
}
#navbar nav .hamburger{
  position: absolute;
}
.nav-menu{
  position: relative;
  list-style: none;
}
#sidebar ul li{
  padding:20px;
}
#sidebar ul li a{
  color:black;
}
#sidebar ul li:hover{
  padding:25px;
  background-color: red;
}
#sidebar #closebtn {
  padding:20px;
  background-color: yellow;
  position: absolute;
  /*font-size: 60px;*/
}
#navbar .jumbotron{
  background-color: rgba(0,0,0,0);
  height:100%;
  width: 100%;
  display: table;
}
#navbar .jumbotron .container{
  display: table-cell;
  vertical-align: middle;
  justify-content: center;
  width:100%;
}
/*The courses section with menu icons*/
#courses{
  width:100%;
  padding: 0;
  margin: 0;
  display: table;
}
#courses div.col-md-6{
  padding: 0;
  height:200px;
  font-size: 120%;
}
#bar{
  height:100%;
  padding: 0;
}
#breakfast{
  height:100%;
  background-image: url("../img/foodtop/breakfast.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color:white;
}

#lunch{
  height:100%;
  background-image: url("../img/foodtop/lunch.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color:white;
}
#dinner{
  height:100%;
  background-image: url("../img/foodtop/dinner.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color:white;
}
#breakfast:hover, #lunch:hover, #dinner:hover{
  opacity: 0.4;
  color:black;
}
.bar-text{
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#party-time{
  background-color: rgb(241,91,41);
  color:white;
}
#food-description{
  margin:0;
  padding:10px 0px 10px 0px;
  width: 100%;
  /*height:auto;*/
}
.fastfood-description-section{
  margin:0;
  padding: 80px 80px 40px 80px;
  width:100%;
  height:50%;
  overflow: auto;
}

.drinks-description-section{
  margin:0;
  padding: 40px 80px 80px 80px;
  width:100%;
  height:50%;
  overflow: auto;
}

.fastfood-image-section{
  /*padding:top right bottom left*/
  border: 20px solid rgba(110,110,110,0.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 0;
  padding: 0;
}
.fastfood-image-section img{
  width:100%;
}
.fastfood-text-section{
  padding: 0px 80px 0px 40px;
}
.drinks-image-section, .drinks-text-section{
  padding: 0;
  margin: 0;
}
.drinks-image-section{
  border: 20px solid rgba(110,110,110,0.1);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height:auto;
  /*padding: 0px 40px 0px 80px; */
}
.drinks-text-section{
  direction: rtl;
  padding-right: 40px;
}

.drinks-image-section .col-xs-6{
  padding: 0;
  margin: 0;
}
.drinks-image-section img{
  width:100%;
}
.view-gallery-text{
  padding-top:5px;
  padding-bottom: 0;
  /*padding: 5px;*/
  border:1px solid rgb(241,91,41);
  border-radius: 2px;
}
#food-pills{
  width: 100%;
  height:auto;
  background-image: url("../img/backgrounds/foodsBg.jpg");
  background-size: cover;
}
.food-pills-wrapper{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}
.food-pills-content{
  /*padding:top right bottom left*/
  margin: 60px 60px 60px 60px;
  /*height: 100%;
  width: 100%;*/
  background-color: rgb(200,200,200);
  text-align: center;
}
.food-pills-content ul li{
  border-right: 1px solid rgb(150,150,150);
}
.image-play-wrapper{
  width:100%;
}
.food-pills-content .fast-food-items{
  width:inherit;
  background-color: white;
  display: inline-flex;
  /*position: absolute;*/
}
.food-pills-content .fast-food-items .arrow{
  margin:10px;
  width:10%;
  color:orange;
  font-weight: bold;
  font-size: 150%;
  display: flex;
  align-items: center;

}
.food-pills-content .fast-food-items .arrow.left{
  text-align: right;
}
.food-pills-content .fast-food-items .content{
  width:80%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.food-pills-content .drinks-food-items{
  position: absolute;
  display: none;
}
.food-pills-content .chicken-food-items{
  position: absolute;
  display: none;
}
.food-pills-content .rice-food-items{
  position: absolute;
  display:none;
}
#customers{

}
#customers .customers-wrapper{
  /*padding:top right bottom left*/
  margin: 60px 10px 60px 100px;
}
#customers .customers-wrapper .customer-boundary{
  width: 100%;
  margin: 10px 20px 10px 20px;
}
#customers .customers-wrapper .customer-boundary .content.one{
  padding:60px 10px 60px 100px;
  border-right: 2px solid rgb(150,150,150);
  text-align: center;
}
#subscribe{
  background-image: url("../img/backgrounds/subscribe.jpg");
  background-size: cover;
  color: white;
}
#subscribe .subscribe-wrapper{
  text-align: center;
  margin:0 200px 0 200px;
  padding: 120px 0 120px 0;
}
.subscribe-wrapper .row{
  padding: 0;
  margin: 0;
  height:50px;
}
.subscribe-wrapper .row #email{
  background-color: rgba(100,100,100,0.4);
  border-radius: 0;
  border:none;
  color: white;
  height: 100%;
}
.subscribe-wrapper .row .col-md-8, .subscribe-wrapper .row .col-md-4{
  height:100%;
}
.subscribe-wrapper .btn{
  width: 100%;
  height:100%;
  border-radius: 0;
  border: none;
  color: inherit;
  background-color: rgb(241,91,41);
}
footer{
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: rgb(241,91,41);
  text-align: center;
}
footer .social-buttons{
  background-color: green;
  color: green;
}
@media only screen and (max-width: 768px) {
  /*media queries*/
  #navbar{
    height:100%;
  }
  #navbar img{
    max-width:200px;
  }
  #courses{
    height:20%;
  }
  #courses div.col-md-6{
    padding: 0;
    height:80px;
  }
  .fastfood-image-section{
    /*padding:top right bottom left*/
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
  .drinks-description-section{
      padding:0;
  }
  .fastfood-text-section{
      padding:10px 10px 10px 10px;
  }
  .drinks-text-section{
      padding:10px 10px 10px 10px;
  }
  .drinks-image-section{
    height:auto;
  }
  .food-description-section{
      padding:0;
  }
  .fastfood-description-section{
    padding:10px 10px 10px 10px;
  }
  #customers .customers-wrapper{
    margin:0;
  }
  #customers .customers-wrapper .customer-boundary{
    margin:0;
  }
  #customers .customers-wrapper .customer-boundary .content.one{
    padding: 0;
    border: 0px;
  }
  #subscribe .subscribe-wrapper{
    text-align: center;
    margin:0 5px 0 5px;
    padding: 20px 0 20px 0;
  }
  .subscribe-wrapper .btn{
    width: auto;
  }
}
/*padding:top right bottom left*/
