*{
  max-width: 100%;
}
html,body{
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
.landing{
  height:100%;
}
#navbar{
  height:75%;
  width:100%;
  background-image: url("../img/backgrounds/landing.jpg");
  background-size: cover;
}
section#courses.row.container{
  height:25%;
  width:100%;
  padding: 0;
  margin: 0;
  display: table;
}
#bar{
  height:100%;
  padding: 0;
}
#breakfast{
  height:100%;
  background-image: url("../img/foodtop/breakfast.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}
#lunch{
  height:100%;
  background-image: url("../img/foodtop/lunch.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}
#dinner{
  height:100%;
  background-image: url("../img/foodtop/dinner.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}
.bar-text{
  height:50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#party-time{
  background-color: rgb(241,91,41);
}
#food-description{
  margin:0;
  padding: 0;
  width: 100%;
}
.food-description-section, .drinks-description-section{
  margin:0;
  padding: 0;
  width:100%;
  overflow: auto;
}
.fastfood-image-section{
  margin: 0;
  padding: 0;
}
.fastfood-image-section img{
  width:100%;
}
.drinks-image-section, .drinks-text-section{
  padding: 0;
  margin: 0;
}
.drinks-image-section .col-xs-6{
  padding: 0;
  margin: 0;
}
.drinks-image-section img{
  width:100%;
}
#food-pills{
  background-image: url("../img/backgrounds/foodsBg.jpg");
  height:599px;
  background-size: cover;
}
#customers{
  height:400px;
}
#subscribe{
  height:301px;
  background-image: url("../img/backgrounds/subscribe.jpg");
  background-size: cover;
}
footer{
  height:400px;
  background-color: rgb(241,91,41);
  text-align: center;
}
